
.main {
    position: absolute;
    background-color: #40FFFF;
    width: 50%;
    left:25%;
    border: 3px solid grey;
    border-radius: 10px;
   height:47%;
  }

.myclass1 {
      width: 97%;
      margin-left:1%;
      border: 3px solid grey;
      border-radius: 10px;
      background-color: #40FFFF;
      margin-top: 1%;
  

    }

.myclass2 {
      width: 97%; 
      margin-left:1%;
      border: 3px solid grey;
      border-radius: 10px;
      background-color: #40FFFF;
      margin-top: 1%; 
      height: 70%;
}

#d1 {
  position: absolute;
  text-align: left;
  padding-left: 3%;
}


#d2 {
  position: absolute;
  text-align: right;
  padding-left: 42%;
  color: red;
}

#d3 {

  padding-left: 60%;
  
}

.left {
   position: absolute;
  text-align: right;
  width: 32%;
  color: grey;
  font-style: bold;
  
  padding-right: 1%;


}

.right {
border-left: 2px solid grey;
 width:70%;
 text-align: left;
 margin-left: 35%;
 margin-top: 1%;
 padding-left: 1%;

}

.box {
  width: 80%;
}

.btn2 {
  width: 10px;
  height: 15px;
}
 #subbox {
  color: blue;
  font-style: bold;
 }