<!DOCTYPE html>
<html>
<head>
    <title>Company Concept</title>
    <!--<link rel="stylesheet" href="//unpkg.com/vue-material@latest/dist/vue-material.css">-->
    <link rel="stylesheet" href="node_modules/vue-material/dist/vue-material.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="assets/css/styles.css">
    
</head>
<body>
    <div id="app">
        <md-toolbar class="md-dense">
            <md-button class="md-icon-button">
                <img src="assets/logo.jpeg" alt="Logo">
            </md-button>

            <h1 class="md-title flex align-center">EU 2 EU Software Factory</h1>

            <md-button class="md-icon-button" @click="saveData">
                <md-icon>save</md-icon>
                <md-tooltip>Save</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" @click="confirmCancel('cancelDialog')">
                <md-icon>cancel</md-icon>
                <md-tooltip>Clear</md-tooltip>
            </md-button>
            <md-button class="md-icon-button">
                <md-icon>person_outline</md-icon>
                <md-tooltip>Login</md-tooltip>
            </md-button>
        </md-toolbar>

        <md-tabs md-fixed>
            <md-tab id="import" md-label="Import">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas amet cum vitae, omnis! Illum quas voluptatem, expedita iste, dicta ipsum ea veniam dolore in, quod saepe reiciendis nihil.</p>
            </md-tab>

            <md-tab id="define" md-label="Define" md-active>
                
                <div class="bar">
                    <div class="align-center">
                        <input class="align-right width-med" v-model="problem" maxlength="30"></input>
                        <span>&nbsp;-</span>
                        <input class="align-center width-small" v-model="version" maxlength="5"></input>
                        <span>-&nbsp;</span>
                        <input class="width-med" v-model="author" maxlength="30"></input>
                    </div>
                </div>

                <xpn-grid :grid-data="tabledata"></xpn-grid>
            </md-tab>

            <md-tab id="design" md-label="Design">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas.</p>
            </md-tab>

            <md-tab id="develop" md-label="Develop">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas.</p>
            </md-tab>

            <md-tab id="deploy" md-label="Deploy">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas.</p>
            </md-tab>

            <md-tab id="export" md-label="Export">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas.</p>
            </md-tab>
        </md-tabs>

        <!-- CONFIRMATION DIALOG FOR CLEARING DATA -->
        <md-dialog-confirm
            md-title="Are you sure?"
            md-content-html="This will clear the existing state."
            md-ok-text="Yes"
            md-cancel-text="No"
            @close="onClose"
            ref="cancelDialog">
        </md-dialog-confirm>

        <!--<md-snackbar md-position="bottom left" ref="snackbar" md-duration="4000">
            <span>Cannot delete.</span>
            <md-button class="md-accent" md-theme="light-blue" @click="$refs.snackbar.close()">Close</md-button>
        </md-snackbar>-->

    </div>

    <!--<script src="//unpkg.com/vue@2.1.7/dist/vue.js"></script> -->
    <script src="node_modules/vue/dist/vue.js"></script>

    <!--<script src="//unpkg.com/vue-material@latest"></script>-->
    <script src="node_modules/vue-material/dist/vue-material.js"></script>

    <script src="components/xpn-grid.js"></script>
    <script src="components/xpn-element.js"></script>
    <script src="assets/javascript/main.js"></script>
</body>
</html>