table {
    width: 100%;
}

td {
    height: 120px;
    text-align: center;
    border: 2px solid lightgray;
}

.bar {
    margin: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #eee;
}

.list-inline li {
    list-style: none;
    display: inline;
    padding-left: 20%;
}

.redtext {
    color: red;
}

.margin{margin:auto;}

.vertical-text {
    transform: rotate(90deg);
    width: 75px;
    padding-left: 20px;
}