.table {
    margin: auto;
}

td {
    border: 2px solid lightgray;
    white-space: nowrap;
}

.bar {
    margin: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #eee;
}

.margin {
    margin:auto;
}

input {
    height: 40px;
    border: none;
    font-family: inherit;
    background-color: inherit;
}

.font-xlarge {
    font-size: x-large;
}

.font-medium {
    font-size: medium;
}

.width-med {
    width: 230px;
}

.width-small {
    width: 40px;
}

.min-width-small {
    min-width: 160px;
    width: 160px;
}

.height-20 {
    height: 20px;
}

.vertical {
    transform: rotate(90deg);
    position: absolute;
    transform-origin: 10px 12px;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.flex {
    flex: 1;
}

.horizontal-scroll {
    overflow: auto; 
    overflow-y: hidden;
}

.corner-style {
    width:20px !important;
    height:20px !important;
    margin:auto;
}

.btn-style {
    width: 20px !important;
    min-width: 20px !important;

    height: 20px !important;
    min-height: 20px !important;

    padding: 0px !important;
    margin: 0px !important;

    line-height: 0;
}

.btn-green {
    color: #4caf50;
}

.btn-red {
    color: #f44336;
}

.md-select-value {
    padding-right: 20px !important;
    line-height: 20px !important;
    min-width:20px;
}

.a {
  width:230px;
  height:214px
}

.b {
  width: 214px;
  height: 20px;
}

.c {
  width: 20px;
  height: 214px;
  vertical-align: top;
}

.d {
  width: 20px;
  height: 20px;
}

.e {
    overflow-y: auto;
    max-height: 214px;
}